# Python cache
__pycache__/
.env
pytest.ini
uv.lock
report.html

# Generated bundle and helper downloads
tools/cache/

# User settings
.vscode/
arduino_secrets.h
*.bat
#*.txt
#sketch.yaml
temp
build/
